/* BOTONES */
.Boton {
  background: #cad2c5;
  /*display: flex;*/
  border: 1px solid rgba(0,0,0,0.05);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
}

/*.Boton[data-size="2"] {
  height: 40%;
}

.Boton[data-value="null"] {
  pointer-events: none;
}*/

.Boton:hover {
  background: #d7ddd3;
  cursor: default;
}

/* DISPLAY */
.Display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #2b293d;
  height: 30px;
  color: #80c9c9;
  font-size: 24px;
}

/*KEYPAD*/
.Keypad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

body {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 100px;
  margin-right: 270px;
  margin-left: 270px;
  background-image: url(/src/img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}

.Calculadora {
  width: 800px;
  height: 600px;
  position: static;
  margin: 25px;
}